

div.scriptbox-output {
	display: inline-block;
	/* width: 100%;*/
	/*min-width: calc(100% - 23px);*/
	/*min-height: calc(100% - 1px);*/
	resize: none;
	/*margin-left: 22px;*/
	/*border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #e5e5e5;*/
	box-sizing: border-box;
	padding-left: 8px;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-right: 1px;
	/*padding: 4px;*/
	/*margin: 5px;*/
	cursor: text;
	outline: none;
	font: 14px/20px Roboto Mono,monospace;
	white-space: pre;
	/*overflow: auto;*/
	/*background: #f5f5f5;*/
}

div.scriptbox-value {
	margin-top: 5px;
	padding: 8px;
	/*padding-left: 100px;*/
	background: #f0fff0;
	font: 14px/20px Roboto Mono,monospace;
	white-space: normal;
}

div.scriptbox-value.inactive {
	background: #fff0f0;
}

div.scriptbox-valueclose {
	float: left;
	margin-right: 75px;
	margin-left: 5px;
	color: silver;
	font-family: "FontAwesome";
	font-size: 18px;
	cursor: pointer;
}

div.scriptbox-valueclose:hover {
	color: #222;
}

div.scriptbox-valuecontent {
	display: table;
}

div.info-bar {
	position: absolute;
	left: 100px;
	min-width: 200px;
	padding-right: 20px;
	min-height: 30px;
	vertical-align: middle;
	z-index: 7;
	color: white;
	border-radius: 20px;
	font: bold 12px "Helvetica Neue", Sans-Serif;
	box-shadow: 0 0 7px black;
	opacity: 0.9;
	text-align: center;
	background: #204a87;
	border: 2px solid white;
}

div.info-item {
	margin-top: 7px;
	margin-left: 50px;
	margin-right: 5px;
}

div.info-validitem {
	margin-top: 6px;
	/*margin-bottom: 6px;*/
}

/*div.info-validitem:before {
	position: absolute;
	content: "";
	left: 18px;
	top: 4px;
	background-image: url('../../images/bullet_accept.png');
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
}*/

div.info-warnitem {
	margin-top: 7px;
	margin-left: 50px;
	margin-bottom: 6px;
}

div.info-warnitem:before {
	position: absolute;
	content: "\f06a";
	font-family: "FontAwesome";
	font-size: 14pt;
	color: white;
	left: 10px;
	top: 6px;
	width: 22px;
	height: 22px;
}

div.info-erroritem {
	margin-top: 7px;
	margin-left: 50px;
	margin-bottom: 6px;
}

div.info-erroritem:before {
	position: absolute;
	content: "\f06a";
	font-family: "FontAwesome";
	font-size: 14pt;
	color: white;
	left: 10px;
	top: 6px;
	width: 22px;
	height: 22px;
}

div.scriptbox-statement {
	/*border-bottom: 1px solid #e5e5e5;*/
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	/*margin-top: 6px;*/
	background: #f8f8f8;
	white-space: pre;
	overflow-x: auto;
	overflow-y: hidden;
}

div.scriptbox-statement::-webkit-scrollbar {
    height: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

div.scriptbox-statement.readonly {
	/*-webkit-filter: grayscale(70%);
	filter: grayscale(70%);*/
	background-color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	/*max-height: 27px;*/
	/*opacity: 0.5;*/
}

input.scriptbox-check {
	float: left;
	/*width: 18px;
	margin-left: 5px;*/
	margin-top: 6px;
}

div.scriptbox-gutter {
	float: left;
	width: 18px;
	height: 18px;
	/*background: #f5f5f5;*/
	cursor: pointer;
	margin-top: 3px;
	margin-left: 8px;
	margin-right: 10px;
	/*border: 1px solid silver;
	border-radius: 20px;*/
	/*background-color: #f5f5f5;*/
	box-sizing: border-box;
	opacity: 0.6;
}

div.scriptbox-gutter:before {
	color: silver;
	font-family: "FontAwesome";
	font-size: 18px;
	content: "\f01d";
	position: relative;
	top: 1px;
}

::placeholder { color: #AAAAAA; opacity: 1; font-style: italic; }
::-webkit-input-placeholder { color: #AAAAAA; opacity: 1; font-style: italic; }
::-moz-placeholder { color: #AAAAAA; opacity: 1; font-style: italic; }

/*div.scriptbox-gutter.play:after {
	color: #66bb66;
	font-family: "FontAwesome";
	font-size: 10pt;
	opacity: 0.4;
	content: "\f04b";
	position: relative;
	left: 10px;
	background: none;
	top: 5px;
	margin-top: 0;
}*/

div.scriptbox-gutter:hover:before {
	color: black;
	text-shadow: 0px 0px 2px black;
}

div.scriptbox-gutter.active:before {
	color: #00ff00;
	content: "\f144";
	text-shadow: 0px 0px 2px black;
}

div.scriptbox-gutter.last:before {
	color: #8888ff;
	content: "\f144";
	text-shadow: 0px 0px 2px black;
}

div.scriptbox-gutter.error:before {
	color: #ff0000;
	content: "\f06a";
	/*text-shadow: 0px 0px 2px black;*/
}

div.scriptbox-statement.warning:after {
	font-family: "FontAwesome";
	color: orange;
	content: "\f071";
	opacity: 0.5;
	text-shadow: none;
	position: relative;
	left: 10px;
}

.scriptbox-codearea {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	/*margin: 5px;*/
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-color: #719ECE;
    /*box-shadow: 0 0 10px #719ECE;*/
	color: #2b4957;/*#233b46;*/
	/*padding-top: 8px;
	padding-left: 5px;*/
	/*background-color: white;*/
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-font-smoothing: antialiased;
	-webkit-transform: translate3d(0,0,0);
}

.hidden-textarea {
	position: relative;
	left: -30000px;
}

div.scriptview {
	position: absolute;
	background: white;
	border-width: 1px;
	border-color: #777;
	border-style: solid;
	padding: 0;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: 0 0 15px #4a6887;
	height: 200px;
	width: 400px;
	top: 200px;
	left: 50px;
	z-index: 2000;
}

div.scriptview-menuicon {
	position: absolute;
	top: 4px;
	right: 12px;
	background: none;
	cursor: pointer;
	color: #444;
	font-family: "FontAwesome";
	font-size: 24px;
	opacity: 0.7;
	text-shadow: 0 0 5px #719ECE;
}

div.scriptview-bar {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 45px;
	/*background: white;*/
	/*border-bottom: 1px solid #e5e5e5;*/
	box-sizing: border-box;
	padding-top: 7px;
}

div.scriptview-title {
	font-size: 18pt;
	font-weight: bold;
	position: absolute;
	top: 10px;
	left: 30px;
	color: #666;
}

div.scriptview-box {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 45px;
}

div.scriptview-inputhider {
	margin-top: 5px;
}

button.scriptview-button {
	/*text-shadow: 0px 0px 2px black;*/
	font-family: "FontAwesome";
	font-size: 22px;
	background: none;
	border: 0;
	cursor: pointer;
	width: 34px;
	outline: none;
}

button.scriptview-button:hover {
	background: #f5f5f5;
}

button.scriptview-button.starall {
	color: yellow;
	text-shadow: 0px 0px 2px black;
}

/*button.scriptview-button.starall:after {
	color: black;
	font-family: "FontAwesome";
	font-size: 12px;
	content: '\f006';
	position: relative;
	left: -9px;
	top: 3px;
}*/

button.scriptview-button.unstarall {
	color: black;
}

/*button.scriptview-button.unstarall:after {
	color: yellow;
	text-shadow: 0px 0px 2px black;
	font-family: "FontAwesome";
	font-size: 12px;
	content: '\f005';
	position: relative;
	left: -9px;
	top: 3px;
	font-weight: bold;
}*/

button.scriptview-button.playall {
	color: #00ff00;
	text-shadow: 0px 0px 2px black;
}

button.scriptview-button.playall:after {
	color: yellow;
	text-shadow: 0px 0px 2px black;
	font-family: "FontAwesome";
	font-size: 12px;
	content: '\f005';
	position: relative;
	left: -7px;
	top: 3px;
}

button.scriptview-button.clonestar {
	color: black;
	/*text-shadow: 0px 0px 2px black;*/
}

button.scriptview-button.clonestar:after {
	color: yellow;
	text-shadow: 0px 0px 2px black;
	font-family: "FontAwesome";
	font-size: 12px;
	content: '\f005';
	position: relative;
	left: -7px;
	top: 3px;
}

button.scriptview-button.clear {
	color: red;
	text-shadow: 0px 0px 2px black;
}

button.scriptview-button.clear:after {
	color: black;
	/*text-shadow: 0px 0px 2px black;*/
	font-family: "FontAwesome";
	font-size: 12px;
	content: '\f006';
	position: relative;
	left: -9px;
	top: 3px;
	font-weight: bold;
}

button.scriptview-button.mobilemore {
	color: white;
}

div.searchouter {
	/*display: inline-block;*/
	float: left;
	margin-left: 30px;
	margin-right: 5px;
	/*margin-top: 5px*/;
	z-index: 2001;
}

div.scriptview-buttons {
	display: inline-block;
	float: right;
	margin-right: 30px;
}

input.search {
	border: 1px solid #b5b5f5;
	border-radius: 20px;
	padding: 5px;
	padding-left: 30px;
	font-size: 10pt;
	width: 250px;
	outline: none;
	box-sizing: border-box;
}

div.grippy {
	white-space: normal;
	float: left;
  content: '....';
  width: 10px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  line-height: 5px;
  padding: 0;
	padding-left: 4px;
  cursor: move;
  vertical-align: middle;
  /*margin-top: -.7em;*/
  /*margin-right: 3px;*/
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #bbbbbb;
  text-shadow: 1px 0 1px black;
}
div.grippy::after {
  content: '.. .. .. ..';
}

div.scriptbox-sticky {
	float: left;
	width: 18px;
	height: 18px;
	/*background: #f5f5f5;*/
	cursor: pointer;
	margin-top: 3px;
	margin-left: 8px;
	margin-right: 2px;
	border: none;
	box-sizing: border-box;
	opacity: 0.6;
}

div.scriptbox-sticky:before {
	color: silver;
	font-family: "FontAwesome";
	font-size: 18px;
	content: "\f006";
	position: relative;
	top: 1px;
}

div.scriptbox-sticky:hover:before {
	color: black;
	text-shadow: 0px 0px 2px black;
	content: "\f006";
}

div.scriptbox-sticky.stuck:before {
	color: yellow;
	text-shadow: 0px 0px 2px black;
	font-family: "FontAwesome";
	font-size: 18px;
	content: "\f005";
	position: relative;
	top: 1px;
}

div.searchouter:after {
	color: #5555bb;
	/*text-shadow: 0px 0px 2px black;*/
	font-family: "FontAwesome";
	font-size: 10pt;
	/*opacity: 0.8;*/
	content: "\f002";
	position: relative;
	left: -240px;
	background: none;
	top: 1px;
	margin-top: 0;
	/*z-index: 2001;*/
}

div.scriptview-results {
	display: none;
	z-index: 2000;
	position: absolute;
	top: 32px;
	left: 30px;
	width: 40%;
	min-width: 280px;
	max-width: 400px;
	/*min-height: 200px;*/
	background: white;
	padding: 10px;
	border-left: 1px solid #719ECE;
	border-right: 1px solid #719ECE;
	border-bottom: 1px solid #719ECE;
	box-shadow: 0 0 10px #719ECE;
}

span.scriptview-comment {
	margin-left: 10px;
	color: silver;
	font-family: Arial;
	font-weight: normal;
}

div.scriptview-result {
	padding: 5px;
	/*border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;*/
	margin-bottom: 2px;
	font: 12px Roboto Mono,monospace;
	background: white;
	cursor: pointer;
	white-space: pre;
	overflow: hidden;
}

div.scriptview-resultremote {
	padding: 5px;
	/*border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;*/
	margin-bottom: 2px;
	font: 12px Roboto Mono,monospace;
	background: white;
	cursor: pointer;
	white-space: pre;
	overflow: hidden;
}

div.scriptview-resultview {
	padding: 5px;
	/*border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;*/
	margin-bottom: 2px;
	font: 12px Arial;
	background: white;
	cursor: pointer;
	overflow: hidden;
}

div.scriptview-resulttag {
	padding: 5px;
	/*border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;*/
	margin-bottom: 2px;
	font: 12px Arial;
	background: white;
	cursor: pointer;
	overflow: hidden;
}

div.scriptview-results hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

div.scriptview-resultsearch {
	padding: 5px;
	/*border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;*/
	margin-top: 10px;
	margin-bottom: 2px;
	font: 12px Arial;
	background: white;
	cursor: pointer;
	overflow: hidden;
}

div.scriptview-result.active {
	/*background: #eeffee;*/
	/*font-weight: bold;*/
}

div.scriptview-result:hover {
	background: #f5f5f5;
}

div.scriptview-resultsearch:hover {
	background: #f5f5f5;
}

div.scriptview-resultremote:hover {
	background: #f5f5f5;
}

div.scriptview-resultview:hover {
	background: #f5f5f5;
}

div.scriptview-resulttag:hover {
	background: #f5f5f5;
}

span.scriptview-resulticon {
	font-family: "FontAwesome";
	margin-right: 10px;
	font-size: 14px;
	color: silver;
}

